*{
    font-weight: 400
}

:root{
--branco: white;
    --cor-de-fundo: #d4129a;
    --fundo-senha: #15ccfa;
    --fundo-texto: #dc19ee;
    --borda: #0075FF;
    --roboto: 'Roboto', sans-serif;
    --roboto-mono: 'Roboto Mono', monospace;
   
}

body{
    color: var(--branco);
    background-color: var(--cor-de-fundo);
    font-family: var(--roboto);
}

..titulo-principal{
    font-family: var(--roboto-mono);
    font-size: 32px;
}
.titulo-secundario{
    font-size: 24px;
}
.conteudo-titulo{
    text-align: center;
    margin-top: 80px;
}


.conteudo-senha{
    background: var(--fundo-senha);
    padding: 24px;
    border-bottom: 6px solid var(--borda);
}
#campo-senha:focus{
    outline: none;
}
.conteudo{
    max-width: 1200px;
}
.conteudo{
    max-width: 1200px;
    margin: 0 auto;
}




